:root {
  --primary-color: darkgoldenrod;
  --secondary-color: rgb(255, 255, 255);
}

* {
  font-family: 'Ubuntu', sans-serif;
  /* font-family: 'Work Sans', sans-serif; */
  
}

html {
    scroll-behavior: smooth;
}

a{
  color: var(--primary-color);
}

#sliderPocetna .carousel-item img {  
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 900px;
  }

  /* NAVBAR */

.nav-item{
    font-size: medium;
    margin-right: 40px;
}

  /* ***** */

  /* SLIDER */
  .carousel-caption{
    height: 70%;
  }

  @media (min-width: 576px) {
    .carousel-caption{
      height: 60% !important;
    }
  }

  .slider-text, .btn{
    text-shadow: 2px 2px 10px rgb(227, 222, 143) !important;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
  }
  .slider-text > h1{
    text-transform: uppercase;
  }

  .slider-text > p{
    font-size: larger;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* KARTICE */
.sadrzajKartice{
  border-color: var(--primary-color) !important;
}